<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Rafael Pieslak CV</title>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <header class="menu-bar">
        <div class="menu-selection">
            <a href="ptbr.html" class="menu-button">PT-BR</a>
        </div>
        
        <div class="menu-selection">
            <a href="index.html" class="menu-button">ENG</a>
        </div>
    </header>


    <div class="container-eng">

        <div class="section">
            <div class="section-title">
                <h3>PERSONAL DATA</h3>
            </div>
            <div class="personal">
                <p><b>Name:</b> Rafael de Melo Pieslak</p>
                <p><b>Email:</b> <a href="mailto:rafael.pieslak@gmail.com">rafael.pieslak@gmail.com</a></p>
                <p><b>Location:</b> Évora / Portugal</p>
                <p><b>Nacionality:</b> Brazilian</p>
                <p><b>Linkedin:</b> <a href="https://www.linkedin.com/in/rafael-pieslak/" target="_blank">https://www.linkedin.com/in/rafael-pieslak/</a></p>
                <p><b>Github: </b><a href="https://github.com/mxyzplk" target="_blank">https://github.com/mxyzplk</a></p>
            </div>
        </div>
        <div class="section">
            <div class="section-title">
                <h3>OBJECTIVES</h3>
            </div>
            <div class="section-description-1">
                <p>Loads Engineer or Flight Mechanics Engineer</p>
                <p>Data Analyst</p>
            </div>
        </div>   

        <div class="section">
            <div class="section-title">
                <h3>SUMMARY</h3>
            </div>
            <div class="section-description-1">
                <p>Engineer. Experience in the aerospace industry performing flight dynamics and loads analysis for structural sizing. Experience in the devsecops area. Experience in the development of engineering tools.</p>
            </div>
        </div>

        <div class="section">

            <div class="section-title">
                <h3>PROFESSIONAL EXPERIENCE</h3>
            </div>


            <div class="section-line">
                <div class="section-item">
                    <h3>CEIIA</h3>
                </div>
                <div class="section-description-2">
                    <ul class="main-list">
                        <li>
                            <p><b>Position:</b> Loads Engineer</p>
                        </li>
                        <li>
                            <p><b>Period:</b> Dec/2022 - Now</p>
                        </li>
                        <li>
                            <p><b>Activities:</b></p>
                            <ul class="activities-list">
                                <li>
                                    6 D.O.F. Flight Simulation. Development of the flight simulator and analyses tools (Fortran and Python). 
                                </li>
                                <li>
                                    Static Loads. Modelling. Development of the component loads calculation tools (Fortran and Python). Analyses.
                                </li>
                                <li>
                                    Fatigue Loads. Process Development. Analyses.
                                </li>
                                <li>
                                    Repositories management. Gitlab.
                                </li>                                
                            </ul>
                        </li>                                                
                    </ul>
                </div>
            </div>            

            <div class="section-line">
                <div class="section-item">
                    <h3>MONITORA SOLUÇÕES TECNOLÓGICAS</h3>
                </div>
                <div class="section-description-2">
                    <ul class="main-list">
                        <li>
                            <p><b>Position:</b> Devops Analyst</p>
                        </li>
                        <li>
                            <p><b>Period:</b> Jul/2021 - Oct/2022</p>
                        </li>
                        <li>
                            <p><b>Activities:</b></p>
                            <ul class="activities-list">
                                <li>
                                    CI/CD Pipelines on Jenkins with deployment in Kubernetes. Dockerfiles creation. Roles creation for automation tasks with Ansible.
                                </li>
                                <li>
                                    Windows Server and Active Directory configuration with Linux machines integration
                                </li>
                                <li>
                                  Experience with AWS. Terraform. Lambda
                                </li>
                            </ul>
                        </li>                                                
                    </ul>
                </div>
            </div>
            <div class="section-line">
                <div class="section-item">
                    <h3>VITO GIANNOTI PREPARATORY COURSE</h3>
                </div>
                <div class="section-description-2">
                  <ul class="main-list">
                    <li>
                        <p><b>Position:</b> Teacher</p>
                    </li>
                    <li>
                        <p><b>Period:</b> Mar/2021 - Oct/2022</p>
                    </li>
                    <li>
                        <p><b>Activities:</b></p>
                        <ul class="Atividades-list">
                            <li>
                                Physics classes with focus on the college entry exams. Workload: 2hrs/week. Total: 120 hrs
                            </li>
                        </ul>
                    </li>                                                
                  </ul>
                </div>
            </div>
        </div>

            <div class="section-line">
                <div class="section-item">
                    <h3>EMBRAER</h3>
                </div>
                <div class="section-description-2">
                    <ul class="main-list">
                        <li>
                            <p><b>Position:</b> Development Engineer - Aeronautics</p>
                        </li>
                        <li>
                            <p><b>Period:</b> Sep/2009 - Sep/2020</p>
                        </li>
                        <li>
                            <p><b>Activities:</b></p>
                            <ul class="activities-list">
                                <li>
                                    Flight dynamics analyses: generation and selection of analysis cases in the flight envelope for stress analysis. Work with big data.
                                </li>
                                <li>
                                    Fault Hazard Analysis of systems with focus on structural sizing.
                                </li>
                                <li>
                                    Test data reduction and analysis (Flight tests, wind tunnel tests, CFD analyses). Creation and validation of aerodynamic models.
                                </li>
                                <li>
                                    Reduction and analysis of the fleet operational flight data with the focus of validating and improving the fatigue analysis.
                                </li>
                                <li>
                                    Calculation tools development and maintenance:
                                    <ul>
                                        <li>
                                            Flight Simulator for Loads: a in-house software which integrated the flight mechanics (aerodynamics, control laws and engine) model for the simulation of gusts and maneuver for a rigid body aircraft.
                                        </li>
                                        <li>
                                            In-house component loads calculation softwares: wing, movable surfaces, tail, fuselage, fuel tank, winglet, aerodynamic surfaces (fairings, doors, windows), apu.
                                        </li>
                                        <li>
                                            Shell scripts for multiprocessing and process chaining.
                                        </li>                                                                                
                                    </ul>
                                </li>
                                <li>
                                    Experience in working with multidisciplinary small teams.
                                </li>
                                <li>
                                    Experience in Agile methodology. Scrum. Process management tools (FMEA, VSM, QCPC).
                                </li>
                                <li>
                                    Experience in meetings with certification authorities (ANAC, EASA, FAA).
                                </li>                                                                                                
                            </ul>
                        </li>                                                
                    </ul>
                </div>
            </div>              
        </div>

        <div class="section">

            <div class="section-title">
                <h3>EDUCATION</h3>
            </div>

            <div class="section-line">
                <div class="section-item">
                    <h3>BACHELOR’S DEGREES</h3>
                </div>
                <div class="section-description-2">
                    <ul class="main-list">
                        <li>
                            <b>Institution: </b>University of São Paulo
                        </li>
                        <li>
                            <b>Period: </b>Feb/2005 - Jun/2007
                        </li>
                        <li>
                            <b>Course: </b>Bachelor in Metallurgical Engineering
                        </li>
                        <li>
                            <b>Status: </b>Concluded <b>Final Grade: </b>13
                        </li>                                                                     
                    </ul>                    
                </div>
            </div>            

            <div class="section-line">
                <div class="section-item">
                    <h3>SPECIALIZATION</h3>
                </div>
                <div class="section-description-2">
                    <ul class="main-list">
                        <li>
                            <b>Institution: </b>UAM – Anhembi Morumbi University
                        </li>
                        <li>
                            <b>Period: </b>Mar/2019 - Aug/2020
                        </li>
                        <li>
                            <b>Course: </b>MBA in Process and Quality Management
                        </li>
                        <li>
                            <b>Status: </b>Concluded
                        </li>                                                                             
                    </ul>                  
                </div>
            </div>            

            <div class="section-line">
                <div class="section-item">
                    <h3>OTHER COURSES</h3>
                </div>
                <div class="section-description-2">
                    <ul class="main-list">
                        <li>
                            <b>Institution: </b>University of Kansas, Lawrence – United States
                        </li>
                        <li>
                            <b>Period: </b>40 hours - Nov/2014
                        </li>
                        <li>
                            <b>Course: </b>Short Course Certificate in Airplane Flight Dynamics
                        </li>
                        <li>
                            <b>Status: </b>Concluded
                        </li>                                                                             
                    </ul>
                    <ul class="main-list">
                        <li>
                            <b>Institution: </b>Casimiro Montenegro Filho Foundation
                        </li>
                        <li>
                            <b>Period: </b>Apr/2008 - Sep/2009
                        </li>
                        <li>
                            <b>Course: </b>Embraer Engineering Specialization Program
                        </li>
                        <li>
                            <b>Status: </b>Concluded
                        </li>                                                                             
                    </ul>                                       
                    <ul class="main-list">
                        <li>
                            <b>Institution: </b>Digital Innovation One
                        </li>
                        <li>
                            <b>Period: </b>27 hours - May/2021
                        </li>
                        <li>
                            <b>Course: </b>HTML Web Developer
                        </li>
                        <li>
                            <b>Status: </b>Concluded
                        </li>                                                                             
                    </ul>                                                           
                </div>
            </div>

            <div class="section-title">
                <h3>PERSONAL SKILLS</h3>
            </div>
            <div class="section-line">

                <div class="section-item">
                    <h3>LANGUAGES</h3>
                </div>
                <div class="table-container">
                    <div class="table-label">Language</div>
                    <div class="table-label">Hearing</div>
                    <div class="table-label">Reading</div>
                    <div class="table-label">Spoken Interation</div>
                    <div class="table-label">Spoken Production</div>
                    <div class="table-label">Writing</div>
                    <div class="table-content">English</div>
                    <div class="table-content">C2</div>
                    <div class="table-content">C2</div>
                    <div class="table-content">C1</div>
                    <div class="table-content">C1</div>
                    <div class="table-content">C2</div>
                    <div class="table-content">German</div>
                    <div class="table-content">A1</div>
                    <div class="table-content">A1</div>
                    <div class="table-content">A1</div>
                    <div class="table-content">A1</div>
                    <div class="table-content">A2</div>
                    <div class="table-content">Portuguese</div>
                    <div class="table-content">C2</div>
                    <div class="table-content">C2</div>
                    <div class="table-content">C2</div>
                    <div class="table-content">C2</div>
                    <div class="table-content">C2</div>                                        
                </div>
            </div>

            <div class="section-line">

                <div class="section-item">
                    <h3>PROJECT MANAGEMENT</h3>
                </div>

                <div class="section-description-2">
                    <ul class="main-list">
                        <li>
                            Knowledge and practice working with SCRUM methodology.
                        </li>
                        <li>
                            Knowledge in critical chain management for multiprojects enviroments.
                        </li>  
                        <li>
                            Knowledge in management tools: FMEA, QCPC, RCCA, SLA, MFA, VSM.
                        </li>                                                                                               
                    </ul>
                </div>
            </div>  

            <div class="section-line">

                <div class="section-item">
                    <h3>COMUNICATION</h3>
                </div>

                <div class="section-description-2">
                    <ul class="main-list">
                        <li>
                            Experience working in dynamic teams.
                        </li>
                        <li>
                            Experience with presentations and meetings.
                        </li> 
                        <li>
                            Experience with teaching.
                        </li>                                                                                                                      
                    </ul>
                </div>                
            </div>

            <div class="section-line">

                <div class="section-item">
                    <h3>TECHNICAL SKILLS</h3>
                </div>

                <div class="section-description-2">
                    <ul class="main-list">
                        <li>
                            Python(Intermediate).
                        </li>
                        <li>
                            MySQL(Beginner).
                        </li>
                        <li>
                            Fortran(Advanced).                           
                        </li>
                        <li>
                            CSS/Html(Beginner).                         
                        </li>
                        <li>
                            Shell script(Intermediate), Dos Batch(Beginner).
                        </li>
                        <li>
                            Jenkins(Intermediate), Ansible(Intermediate), Docker(Beginner), Kubernetes(Beginner).
                        </li> 
                        <li>
                            Git(Intermediate), Github/Gitlab(Intermediate)
                        </li>                           
                        <li>
                            Linux(Intermediate).
                        </li>
                        <li>
                            Windows Server (Beginner), Active Directory (Beginner), AWS (Beginner), Terraform (Beginner), Lambda(Beginner)
                      <li>                                                                                                 
                    </ul>
                </div>
            </div>  

            <div class="section-line">

                <div class="section-item">
                    <h3>SOFT SKILLS</h3>
                </div>

                <div class="section-description-2">
                    <ul class="main-list">
                        <li>
                            Autonomous.
                        </li>
                        <li>
                            Self-learning.
                        </li>                                                                                              
                    </ul>
                </div>
            </div>

        <div class="section-line">

            <div class="section-item">
                <h3>ARTICLES</h3>
            </div>

            <div class="section-description-2">
                <ul class="main-list">
                    <li>
                        <p>Pieslak, Rafael de Melo; Abdou, Jonathas Alberto Ribeiro; Rebello, Marcelo Castro; Schön, Claudio Geraldo; Tenório, Jorge Alberto Soares. OXIDAÇÃO AO AR A ALTAS TEMPERATURAS DA LIGA Fe-30Al-10Ti , p. 106-112. In: 61º Congresso Anual da ABM, Rio de Janeiro, 2006.
ISSN: 2594-5327 , DOI 10.5151/2594-5327-2005-14210-0013, link: http://dx.doi.org/10.5151/2594-5327-2005-14210-0013</p>
                    </li>
                    <li>
                        <p>Oliveira, José Roberto de; Tenório, Jorge Alberto Soares; Pieslak, Rafael de Mello. UTILIZAÇÃO DE RESÍDUO DE MÁRMORE E CAREPA DE AÇO COMO DESFOSFORANTE DE FERRO GUSA , p. 703-713. In: 38º Seminário de Aciaria - Internacional, Belo Horizonte, 2007.
ISSN: 2594-5300 , DOI 10.5151/2594-5300-2004-15463-0073, link: https://abmproceedings.com.br/ptbr/article/utilizao-de-resduo-de-mrmore-e-carepa-de-ao-como-desfosforante-de-ferro-gusa</p>
                    </li>
                    <li>
                        <p>Carboni, Marcelo Carboneri; Sobrinho, Pedro José Nolasco; Pieslak, Rafael de Mello; Espinosa, Denise Crocce Romano; Tenório, Jorge Alberto Soares. EFEITO DA TEMPERATURA E DA QUANTIDADE DE REDUTOR NA EFICIÊNCIA DE RECUPERAÇÃO DE CROMO PROVENIENTES DE RESÍDUOS DA PRODUÇÃO DE AÇOS INOXIDÁVEIS , p. 771-779. In: 38º Seminário de Aciaria - Internacional, Belo Horizonte, 2007.
ISSN: 2594-5300 , DOI 10.5151/2594-5300-0080, link: https://abmproceedings.com.br/ptbr/article/efeito-da-temperatura-e-da-quantidade-de-redutor-na-eficincia-de-recuperao-de-cromo-provenientes-de-resduos-da-produo-de-aos-inoxidveis</p>
                    </li>                                                                                              
                </ul>
            </div>
        </div>  

        </div>
    </div>    
</body>
