<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Rafael Pieslak CV</title>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
<header class="menu-bar">
    <div class="menu-selection">
        <a href="ptbr.html" class="menu-button">PT-BR</a>
    </div>
        
    <div class="menu-selection">
        <a href="index.html" class="menu-button">ENG</a>
    </div>
</header>


<div class="container-pt">

    <div class="section">
        <div class="section-title">
            <h3>DADOS PESSOAIS</h3>
        </div>
        <div class="personal">
            <p><b>Nome:</b> Rafael de Melo Pieslak</p>
            <p><b>Email:</b> <a href="mailto:rafael.pieslak@gmail.com">rafael.pieslak@gmail.com</a></p>
            <p><b>Localização:</b> Évora / Portugal</p>
            <p><b>Nacionalidade:</b> Brasileiro</p>
            <p><b>Linkedin:</b> <a href="https://www.linkedin.com/in/rafael-pieslak/" target="_blank">https://www.linkedin.com/in/rafael-pieslak/</a></p>
            <p><b>Github: </b><a href="https://github.com/mxyzplk" target="_blank">https://github.com/mxyzplk</a></p>
        </div>
    </div>
    <div class="section">
        <div class="section-title">
            <h3>OBJETIVOS</h3>
        </div>
        <div class="section-description-1">
            <p>Engenheiro de Cargas ou Mecânica de Voo</p>
            <p>Analista de Dados</p>
            <p>Analista Devsecops</p>
        </div>
    </div>   

    <div class="section">
        <div class="section-title">
            <h3>RESUMO</h3>
        </div>
        <div class="section-description-1">
            <p>Engenheiro. Experiência na indústria aeronáutica desempenhando análises de cargas mecânicas e dinâmica de voo para o dimensionamento estrutural. Experiência na área de Decsecops. Atuação no desenvolvimento de ferramentas de engenharia.</p>
        </div>
    </div>

    <div class="section">

        <div class="section-title">
            <h3>EXPERIÊNCIA PROFISSIONAL</h3>
        </div>


        <div class="section-line">
            <div class="section-item">
                <h3>CEIIA</h3>
            </div>
            <div class="section-description-2">
                <ul class="main-list">
                    <li>
                        <p><b>Cargo:</b> Engenheiro Aeronáutico - Cargas</p>
                    </li>
                    <li>
                        <p><b>Periodo:</b> Dez/2022 - Em Andamento</p>
                    </li>
                    <li>
                        <p><b>Regime:</b> 40 hrs / semana</p>
                    </li>
                    <li>
                        <p><b>Atividades:</b></p>
                        <ul class="Atividades-list">
                            <li>
                                Simulação de Condições de Voo com 6 Graus de Liberdade. Desenvolvimento do simulador de voo e ferramentas de análise (Fortran e Python).
                            </li>
                            <li>
                                Cargas Estáticas em Componentes. Modelamento. Desenvolvimento do software de cálculo de cargas de componentes (Fortran e Python). Análises.
                            </li>
                            <li>
                                Cargas de Fadiga Desenvolvimento de Processo e análise.
                            </li>
                            <li>
                                Gestão de repositórios. Gitlab.
                            </li>                            
                        </ul>
                    </li>                                                
                </ul>
            </div>        
        </div>

        <div class="section-line">
            <div class="section-item">
                <h3>MONITORA SOLUÇÕES TECNOLÓGICAS</h3>
            </div>
            <div class="section-description-2">
                <ul class="main-list">
                    <li>
                        <p><b>Cargo:</b></p>
                        <ul class="Atividades-list">
                            <li>Estagiário Devsecops (Jul/2021 - Jul/2022) </li>
                            <li>Analista Devsecops (Jul/2022 - Out/2022) </li>
                         </ul>    
                    </li>
                    <li>
                        <p><b>Periodo:</b> Jul/2021 - Out/2022</p>
                    </li>
                    <li>
                        <p><b>Regime:</b></p>
                        <ul class="Atividades-list">
                            <li>Estágio: 30 hrs / semana </li>
                            <li>Analista: 40 hrs / semana </li>
                         </ul>                           
                    </li>                    
                    <li>
                        <p><b>Atividades:</b></p>
                        <ul class="Atividades-list">
                            <li>
                                Pipelines de CI/CD no Jenkins com deployment no Kubernetes. Criação de Dockerfiles. Criação de Roles para automações em Ansible.
                            </li>
                            <li>
                                Experiência em configuração de Windows Server com Active Directory e integração com estações linux.
                            </li>
                            <li>
                                Experiência em AWS. Terraform. Lambda
                            </li>
                        </ul>
                    </li>                                                
                </ul>
            </div>
        </div>    

            
        <div class="section-line">
            <div class="section-item">
                <h3>EMBRAER</h3>
            </div>
            <div class="section-description-2">
                <ul class="main-list">
                    <li>
                        <p><b>Cargo:</b> Engenheiro de Desenvolvimento - Aeronáutica</p>
                    </li>
                    <li>
                        <p><b>Periodo:</b> Set/2009 - Set/2020</p>
                    </li>
                    <li>
                        <p><b>Regime:</b> 43 hrs / semana</p>
                    </li>                    
                    <li>
                        <p><b>Atividades:</b></p>
                        <ul class="Atividades-list">
                            <li>
                                Análise da dinâmica de voo da aeronave: geração e seleção de pontos de análise no envelope de voo para análise de resistência estrutural.
                            </li>
                            <li>
                                Análise de falhas de sistemas sob o ponto de vista de dimensionamento estrutural.
                            </li>
                            <li>
                                Redução e análise dos dado de operação da frota (dados de voos do operador) como forma de validar e melhorar o processo de análise de fadiga.
                            </li>
                            <li>
                                Desenvolvimento e manutenção dos códigos das ferramentas internas de análise (Fortran e Python) e dos scripts (Dos Batch e Shell) encadeadores de processos.
                            </li>
                            <li>
                                Experiência em reuniões com autoridade certificadora (ANAC, EASA, FAA)
                            </li>
                            <li>
                                Experência em trabalhar em times reduzidos multitarefas.
                            </li>
                            <li>
                                Experiência em trabalho com metodologia ágil. Scrum. Ferramentas de gerenciamento de processos (FMEA, VSM, QCPC)
                            </li>                                                                                                
                        </ul>
                    </li>                                                
                </ul>
            </div>
        </div>              
    </div>

    <div class="section">

<!-- Educação cursos - inicio -->
        <div class="section-title">
            <h3>EDUCAÇÃO</h3>
        </div>

        <div class="section-line">
            <div class="section-item">
                <h3>BACHARELADO</h3>
            </div>
            <div class="section-description-2">
                <ul class="main-list">
                    <li>
                        <b>Instituição: </b>Universidade of São Paulo
                    </li>
                    <li>
                        <b>Periodo: </b>Fev/2005 - Jun/2007
                    </li>
                    <li>
                        <b>Curso: </b>Bacharelado em Engenharia Metalúrgica
                    </li>
                    <li>
                        <b>Status: </b>Concluido <b>Classificação Final: </b>13
                    </li>                                                                     
                </ul>                    
            </div>
        </div>            

        <div class="section-line">
            <div class="section-item">
                <h3>ESPECIALIZAÇÃO</h3>
            </div>
            <div class="section-description-2">
                <ul class="main-list">
                    <li>
                        <b>Instituição: </b>UAM – Universidade Anhembi Morumbi
                    </li>
                    <li>
                        <b>Periodo: </b>Mar/2019 - Ago/2020
                    </li>
                    <li>
                        <b>Curso: </b>MBA em Gerenciamento de Processos e Qualidade
                    </li>
                    <li>
                        <b>Status: </b>Concluido
                    </li>                                                                             
                </ul>                  
            </div>
        </div>            

        <div class="section-line">
            <div class="section-item">
                <h3>OUTROS CURSOS</h3>
            </div>
            <div class="section-description-2">
                <ul class="main-list">
                    <li>
                        <b>Instituição: </b>University of Kansas, Lawrence – United States
                    </li>
                    <li>
                        <b>Periodo: </b>40 horas - Nov/2014
                    </li>
                    <li>
                        <b>Curso: </b>Short Course Certificate in Airplane Flight Dynamics
                    </li>
                    <li>
                        <b>Status: </b>Concluido
                    </li>                                                                             
                </ul>
                <ul class="main-list">
                    <li>
                        <b>Instituição: </b>Fundação Casimiro Montenegro Filho
                    </li>
                    <li>
                        <b>Periodo: </b>Abr/2008 - Set/2009
                    </li>
                    <li>
                        <b>Curso: </b>Programa de Especialização em Engenharia da Embraer
                    </li>
                    <li>
                        <b>Status: </b>Concluido
                    </li>                                                                             
                </ul>                                       
                <ul class="main-list">
                    <li>
                        <b>Instituição: </b>Digital Innovation One
                    </li>
                    <li>
                        <b>Periodo: </b>27 horas - Mai/2021
                    </li>
                    <li>
                        <b>Curso: </b>HTML Web Developer
                    </li>
                    <li>
                        <b>Status: </b>Concluido
                    </li>                                                                                                   
                </ul>

                <ul class="main-list">
                    <li>
                        <b>Instituição: </b>Digital Innovation One
                    </li>
                    <li>
                        <b>Periodo: </b>5 horas - Abr/2021
                    </li>
                    <li>
                        <b>Curso: </b>Introdução ao Git e ao Github
                    </li>
                    <li>
                        <b>Status: </b>Concluido
                    </li>                                                                                                   
                </ul>   

                <ul class="main-list">
                    <li>
                        <b>Instituição: </b>Digital Innovation One
                    </li>
                    <li>
                        <b>Periodo: </b>9 horas - Jun/2021
                    </li>
                    <li>
                        <b>Curso: </b>Desenvolvimento Básico em Java
                    </li>
                    <li>
                        <b>Status: </b>Concluido
                    </li>                                                                                                   
                </ul>    

                <ul class="main-list">
                    <li>
                        <b>Instituição: </b>Digital Innovation One
                    </li>
                    <li>
                        <b>Periodo: </b>10 horas - Sep/2021
                    </li>
                    <li>
                        <b>Curso: </b>Linux: A introdução ao sistema operacional
                    </li>
                    <li>
                        <b>Status: </b>Concluido
                    </li>                                                                                                   
                </ul>     

                <ul class="main-list">
                    <li>
                        <b>Instituição: </b>Digital Innovation One
                    </li>
                    <li>
                        <b>Periodo: </b>8 horas - Sep/2021
                    </li>
                    <li>
                        <b>Curso: </b>Introdução à programação com Python
                    </li>
                    <li>
                        <b>Status: </b>Concluido
                    </li>                                                                                                   
                </ul>  

                <ul class="main-list">
                    <li>
                        <b>Instituição: </b>Digital Innovation One
                    </li>
                    <li>
                        <b>Periodo: </b>6 horas - Mai/2021
                    </li>
                    <li>
                        <b>Curso: </b>Fundamentos de Arquitetura de Sistemas
                    </li>
                    <li>
                        <b>Status: </b>Concluido
                    </li>                                                                                                   
                </ul>

                <ul class="main-list">
                    <li>
                        <b>Instituição: </b>Digital Innovation One
                    </li>
                    <li>
                        <b>Periodo: </b>9 horas - Jun/2021
                    </li>
                    <li>
                        <b>Curso: </b>Conceitos e melhores práticas com bancos de dados PostgreSQL
                    </li>
                    <li>
                        <b>Status: </b>Concluido
                    </li>                                                                                                   
                </ul> 

                <ul class="main-list">
                    <li>
                        <b>Instituição: </b>Udemy
                    </li>
                    <li>
                        <b>Periodo: </b>2.5 horas - Jul/2021
                    </li>
                    <li>
                        <b>Curso: </b>Ansible for the Absolute Beginner - Hands-On - Devops
                    </li>
                    <li>
                        <b>Status: </b>Concluido
                    </li>                                                                                                   
                </ul>  

                <ul class="main-list">
                    <li>
                        <b>Instituição: </b>Digital Innovation One
                    </li>
                    <li>
                        <b>Periodo: </b>6 horas - Jun/2021
                    </li>
                    <li>
                        <b>Curso: </b>Java - Trabalhando com Collections
                    </li>
                    <li>
                        <b>Status: </b>Concluido
                    </li>                                                                                                   
                </ul>                                                                                                                                                                                                                    

            </div>
        </div>

<!-- Skills pessoais - inicio -->

        <div class="section-title">
            <h3>SKILLS PESSOAIS</h3>
        </div>
        <div class="section-line">

            <div class="section-item">
                <h3>LÍNGUAS</h3>
            </div>
            <div class="section-description-2">
                <ul class="main-list">
                    <li>
                        <b>Inglês: </b>Fluente
                    </li>
                    <li>
                        <b>Alemão: </b>Básico
                    </li>                                                                          
                </ul>
            </div>         
        </div>

        <div class="section-line">

            <div class="section-item">
                <h3>GERENCIAMENTO DE PROJETOS</h3>
            </div>

            <div class="section-description-2">
                <ul class="main-list">
                    <li>
                        Conhecimento e prática em trabalho com metodologia SCRUM. 
                    </li>
                    <li>
                        Conhecimento na metodologia de corrente crítica para ambients multiprojetos.
                    </li>  
                    <li>
                        Conhecimento nas ferramentas de gerenciamento de processos: FMEA, QCPC, RCCA, SLA, MFA, VSM.
                    </li>                                                                                               
                </ul>
            </div>
        </div>  

        <div class="section-line">

            <div class="section-item">
                <h3>COMUNICAÇÃO</h3>
            </div>

            <div class="section-description-2">
                <ul class="main-list">
                    <li>
                        Experiência em trabalhar com times dinâmicos.
                    </li>
                    <li>
                        Experiência em apresentações e reuniões.
                    </li>  
                    <li>
                        Experiência em dar aulas. Atuo como professor de física atualmente.
                    </li>                                                                                                                      
                </ul>
            </div>                
        </div>

        <div class="section-line">

            <div class="section-item">
                <h3>SKILLS TÉCNICAS</h3>
            </div>

            <div class="section-description-2">
                <ul class="main-list">
                    <li>
                        Python(Intermediário).
                    </li>
                    <li>
                        MySQL(Básico).
                    </li>
                    <li>
                        Fortran(Avançado).                           
                    </li>
                    <li>
                        CSS/Html(Básico).                         
                    </li>
                    <li>
                        Shell script(Intermediário), Dos Batch(Básico).
                    </li>
                    <li>
                        Jenkins(Intermediário), Ansible(Intermediário), Docker(básico), Kubernetes(básico).
                    </li>
                    <li>
                        Git(Intermediário), Github/Gitlab(Intermediário)
                    </li>  
                    <li>
                        Linux(Intermediário).
                    </li>
                    <li>
                        Windows Server(Básico), Active Directory(Básico), AWS(Básico), Terraform(Básico), Lambda(Básico)
                    </li>                                                                                                       
                </ul>
            </div>
        </div>  

        <div class="section-line">

            <div class="section-item">
                <h3>SOFT SKILLS</h3>
            </div>

            <div class="section-description-2">
                <ul class="main-list">
                    <li>
                        Posso atuar de forma autônoma e independente.
                    </li>
                    <li>
                        Capacidade de aprender sozinho.
                    </li>                                                                                              
                </ul>
            </div>
        </div>

<!-- Outros - inicio -->

        <div class="section-title">
            <h3>OUTROS</h3>
        </div>


        <div class="section-line">

            <div class="section-item">
                <h3>ARTIGOS</h3>
            </div>

            <div class="section-description-2">
                <ul class="main-list">
                    <li>
                        <p>Pieslak, Rafael de Melo; Abdou, Jonathas Alberto Ribeiro; Rebello, Marcelo Castro; Schön, Claudio Geraldo; Tenório, Jorge Alberto Soares. OXIDAÇÃO AO AR A ALTAS TEMPERATURAS DA LIGA Fe-30Al-10Ti , p. 106-112. In: 61º Congresso Anual da ABM, Rio de Janeiro, 2006.
ISSN: 2594-5327 , DOI 10.5151/2594-5327-2005-14210-0013, link: http://dx.doi.org/10.5151/2594-5327-2005-14210-0013</p>
                    </li>
                    <li>
                        <p>Oliveira, José Roberto de; Tenório, Jorge Alberto Soares; Pieslak, Rafael de Mello. UTILIZAÇÃO DE RESÍDUO DE MÁRMORE E CAREPA DE AÇO COMO DESFOSFORANTE DE FERRO GUSA , p. 703-713. In: 38º Seminário de Aciaria - Internacional, Belo Horizonte, 2007.
ISSN: 2594-5300 , DOI 10.5151/2594-5300-2004-15463-0073, link: https://abmproceedings.com.br/ptbr/article/utilizao-de-resduo-de-mrmore-e-carepa-de-ao-como-desfosforante-de-ferro-gusa</p>
                    </li>
                    <li>
                        <p>Carboni, Marcelo Carboneri; Sobrinho, Pedro José Nolasco; Pieslak, Rafael de Mello; Espinosa, Denise Crocce Romano; Tenório, Jorge Alberto Soares. EFEITO DA TEMPERATURA E DA QUANTIDADE DE REDUTOR NA EFICIÊNCIA DE RECUPERAÇÃO DE CROMO PROVENIENTES DE RESÍDUOS DA PRODUÇÃO DE AÇOS INOXIDÁVEIS , p. 771-779. In: 38º Seminário de Aciaria - Internacional, Belo Horizonte, 2007.
ISSN: 2594-5300 , DOI 10.5151/2594-5300-0080, link: https://abmproceedings.com.br/ptbr/article/efeito-da-temperatura-e-da-quantidade-de-redutor-na-eficincia-de-recuperao-de-cromo-provenientes-de-resduos-da-produo-de-aos-inoxidveis</p>
                    </li>                                                                                              
                </ul>
            </div>
        </div>  

<!-- Outros - fim -->    

<!-- Trabalho Voluntário - inicio -->

        <div class="section-title">
            <h3>TRABALHO VOLUNTÁRIO</h3>
        </div>

        <div class="section-line">

            <div class="section-item">
                <h3>CURSINHO VITO GIANNOTI</h3>
            </div>
            
            <div class="section-description-2">
                <ul class="main-list">
                    <li>
                        <p><b>Cargo:</b> Professor Voluntário</p>
                    </li>
                    <li>
                        <p><b>Periodo:</b> Mar/2021 - Out/2022</p>
                    </li>
                    <li>
                        <p><b>Atividades:</b></p>
                        <ul class="Atividades-list">
                            <li>
                                Aulas ministradas de física para duas turmas (70 alunos) com foco em preparação para os exames / processos de acesso À universidade. Carga de 2 hrs/semana. Total: 120 horas.
                            </li>
                        </ul>
                    </li>                                                
                </ul>
            </div>

        </div>

    <!-- Trabalho Voluntário - Fim -->  
    
</div>
</body>
